.container{
    display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo lista"
    "controles lista";
    justify-content: stretch;
    width: 0 20% 0 20%;
}

.nueva-tarea { 
    grid-area: titulo; 
    grid-column: 1;
    grid-row: 1; 
    justify-self: center;
    align-self: start;
    gap: 15px 10px;
    width: 100%;
    padding-bottom: 10px;
}

.contador-tareas { 
    border-top: solid gray 2px;
    grid-area: controles;
    grid-column: 1; 
    grid-row: 2;
    justify-self: center;
    align-self: start;
    width: 100%;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

.lista-tareas { 
    border-top: solid gray 2px;
    background-color: rgb(234, 232, 232);
    grid-area: lista;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: start;
    width: 100%;
    height: 100vh;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}



table{
    border: solid black 2px;
    width: 100%;
}

.tareas-incompletas{
    background-color: red;
}
.tareas-completadas{
    background-color: red;
}

.col-double{
    width: 70%;
}
.col-simple{
    width:10%;
}
